<p>
	Hey <%= @user.name %>,
</p>

<p>
	Good news.
	Your project <strong><%= link_to @project.title, project_url(@project) %></strong>
	was just backed by <strong><em><%= @backer.name.upcase %></em></strong>
	for <strong><%= number_to_currency @pledge.amount %></strong>.
</p>

<hr/>

<p>
	Best of luck!
	<br/>
	CrowdFunder team. 
</p>
rp